<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <meta charset="UTF-8">
    <title>My Forecasts</title>

    <style>
        body, html {
            height: 100%;
        }
        .bg {
            background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314__340.jpg");
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="container bg">

<h1> Mano issaugotos prognozes </h1>

<div>
    <nav class="navbar navbar-light">

        <ul class="navbar-nav">
            <div class="d-flex flex-row align-items-center">
                <li class="m-1">
                    <a class="navbar-brand h1" href="#">Oru Prognozes</a>
                </li>
                <li class="m-1">
                    <a class="nav-link" href="http://localhost:8080/"> Namo </a>
                </li>
                <li class="m-2">
                    <a class="nav-link" href="http://localhost:8080/my-forecasts"> Mano Prognozes </a>
                </li>
            </div>
        </ul>
        <div class="m-1">
            <form class="form-inline" th:action="@{/logout}" method="post">
                <input class="form-control" type="submit" value="Atsijungti"/>
            </form>
        </div>
    </nav>
</div>

    <div class="container">
        <table id="myTable" class="table mt-3">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">Temperatura</th>
                <th scope="col">Miestas</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="forecast: ${myForecasts}">
                    <td class="id-value" th:text="${forecast.id}"></td>
                    <td class="date-value" th:text="${forecast.date}"></td>
                    <td class="temperature-value" th:text="${forecast.temperature}"></td>
                    <td class="city-value" th:text="${forecast.city}"></td>
                    <td><button class="btn btn-danger" onclick="deleteForecast(this), reloadPage()"><i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script>
    let table = new DataTable('#myTable');

    function deleteForecast(el) {
        var parent = el.parentElement.parentElement;
        var id = parent.getElementsByClassName("id-value")[0].textContent;

        jQuery.ajax({
            url: "http://localhost:8080/api/delete-my-forecast",
            type: "POST",
            data: JSON.stringify({
                "id": id
            }),
            contentType: "application/json"
        })
        el.parentElement.getElementsByClassName("btn")[0].style.display = "none";
        el.parentElement.getElementsByClassName("bi")[0].style.display = "block";
    }

    function reloadPage(){
        setTimeout(() => {
            document.location.reload();
        }, 100);
    }

</script>
</html>